@use 'mixins' as *;

.filter-list {
  display: flex;
  column-gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  @include mobile {
    column-gap: 10px;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 6px;

    &:hover {
      text-decoration: underline solid var(--black) 2px;
      text-underline-offset: 8px;
    }
    
    &--selected {
      color: var(--orange-200);
      text-decoration: underline solid var(--orange-200) 2px;
      text-underline-offset: 8px;
    }
  }
}