:root {
  --black: #1B1F2B;
  --white: #FFFFFF;
  --orange-200: #EFA501;
  --orange-100: #F8E6BE;
  --green-400: #286562;
  --green-300: #3B7E7B;
  --green-200: #627F7E;
  --green-100: #E0F0E5;
  --gray-300: #A6A6A6;
  --gray-200: #D9DFDB;
  --gray-100: #F1F3F2;
  --beige-200: #F4F0E9;
  --beige-100: #F9F7F4;
  --header-section-height: 743px;
  --nav-height: 88px;
  --main-gap: 135px;
}

@font-face {
  font-family: "Roboto";
  src: url("src/fonts/roboto.woff2") format("woff2");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  background-color: var(--beige-100);
}

.container {
  max-width: 1170px;
  margin-inline: auto;
}

.wide {
  grid-column: 1/-1;
}

.mirror .card__img {
  transform: scaleX(-1);
}
.mirror:hover .card__img {
  transform: scaleX(-1.2) scaleY(1.2) !important;
}

@media (max-width: 1240px) {
  .hide--tablet {
    display: none;
  }
}
@media (max-width: 1000px) {
  .hide--mobile {
    display: none;
  }
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 105px;
  letter-spacing: 0.02em;
}
@media (max-width: 1000px) {
  h1 {
    font-size: 34px;
    line-height: 112%;
  }
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
}
@media (max-width: 1000px) {
  h2 {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
  }
}

.p-big {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-wrap-style: stable;
  letter-spacing: 0.001em;
}
@media (max-width: 1000px) {
  .p-big {
    font-size: 16px;
    line-height: 23px;
  }
}

.p-normal {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 1000px) {
  .p-normal {
    font-size: 16px;
    line-height: 23px;
  }
}

.p-small {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
@media (max-width: 1000px) {
  .p-small {
    font-size: 16px;
  }
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
  letter-spacing: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.section {
  max-width: 1170px;
  margin: 135px auto;
}
@media (max-width: 1240px) {
  .section {
    max-width: 918px;
  }
}
@media (max-width: 1000px) {
  .section {
    max-width: 318px;
    margin-block: 75px;
  }
}
.section__title {
  text-align: center;
}
.section__subtitle {
  text-align: center;
  color: var(--gray-300);
  margin-top: 30px;
}
@media (max-width: 1000px) {
  .section__subtitle {
    margin-top: 20px;
  }
}
.section__filter-list {
  margin-top: 35px;
}
@media (max-width: 1000px) {
  .section__filter-list {
    margin-top: 30px;
  }
}
.section__content {
  margin-top: 100px;
}
@media (max-width: 1000px) {
  .section__content {
    margin-top: 50px;
  }
}
.section--wide {
  max-width: 1920px;
  padding-inline: 30px;
}
@media (max-width: 1240px) {
  .section--wide {
    padding-inline: 20px;
  }
}

.tour-grid {
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  .tour-grid {
    margin-top: 50px;
  }
}
.tour-grid__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 1240px) {
  .tour-grid__list {
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }
}
@media (max-width: 1000px) {
  .tour-grid__list {
    grid-template-columns: 1fr;
  }
}

.photo-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1000px) {
  .photo-grid {
    gap: 18px;
  }
}
.photo-grid__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  align-items: center;
}
@media (max-width: 1240px) {
  .photo-grid__row {
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .photo-grid__row {
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .photo-grid__row--18 {
    column-gap: 18px;
  }
}
.photo-grid__row--center {
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1240px) {
  .photo-grid__row--center {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  .photo-grid__row--center {
    grid-template-columns: repeat(3, 1fr);
  }
}
.photo-grid__img {
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  height: 301px;
  width: 100%;
}
@media (max-width: 1000px) {
  .photo-grid__img {
    border-radius: 20px;
    height: 110px;
  }
}

.history__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 1000px) {
  .history__list {
    row-gap: 20px;
  }
}

.cta {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .cta {
    flex-direction: column;
  }
}
.cta__img {
  height: 370px;
  aspect-ratio: 1;
  border-radius: 50px;
}
@media (max-width: 1000px) {
  .cta__img {
    height: 133px;
    width: 130px;
    border-radius: 20px;
  }
}
.cta__content {
  max-width: 371px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1000px) {
  .cta__content {
    text-align: center;
  }
}
.cta__subtitle {
  color: var(--gray-300);
}
.cta__action {
  color: var(--black);
  text-underline-offset: 5px;
}
.cta__action:hover {
  text-decoration: underline solid var(--black) 1px;
}
.cta__action:active {
  color: var(--green-400);
  text-decoration: underline solid var(--green-400) 1px;
}

.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), url(src/images/header-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  max-width: 1168px;
}
@media (max-width: 1240px) {
  .header__nav {
    max-width: 910px;
  }
}
@media (max-width: 1000px) {
  .header__nav {
    padding: 20px;
  }
}
@media (max-width: 1000px) {
  .header__logo-img {
    height: 22px;
    width: 133px;
    object-fit: cover;
  }
}
.header__nav-list {
  display: flex;
  gap: 50px;
}
@media (max-width: 1240px) {
  .header__nav-list {
    gap: 30px;
  }
}
@media (max-width: 1000px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-link:hover {
  text-decoration: underline solid var(--white) 1px;
  text-underline-offset: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  text-align: center;
  height: 742px;
}
@media (max-width: 1240px) {
  .hero {
    height: 743px;
  }
}
@media (max-width: 1000px) {
  .hero {
    gap: 40px;
    height: 400px;
  }
}
.hero__subtitle {
  max-width: 562px;
}
@media (max-width: 1240px) {
  .hero__subtitle {
    max-width: 400px;
  }
}
@media (max-width: 1000px) {
  .hero__subtitle {
    max-width: 310px;
  }
}
.hero__button {
  padding: 5px 20px;
  background-color: var(--white);
  border-radius: 10px;
}
.hero__button:hover {
  background-color: var(--orange-200);
  color: var(--white);
}
.hero__button:active {
  background-color: var(--orange-100);
  color: var(--black);
}

.filter-list {
  display: flex;
  column-gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1000px) {
  .filter-list {
    column-gap: 10px;
  }
}
.filter-list__button {
  background: none;
  border: none;
  cursor: pointer;
  text-underline-offset: 10px;
  padding-bottom: 6px;
}
@media (max-width: 1000px) {
  .filter-list__button {
    text-underline-offset: 4px;
    padding-bottom: 0px;
  }
}
.filter-list__button:hover {
  text-decoration: underline solid var(--black) 2px;
}
.filter-list__button--selected {
  color: var(--orange-200);
  text-decoration: underline solid var(--orange-200) 2px;
}
.filter-list__button--selected:hover {
  text-decoration: underline solid var(--orange-200) 2px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 531px;
  border-radius: 50px;
  overflow: hidden;
  color: var(--white);
  padding: 50px;
}
@media (max-width: 1000px) {
  .card {
    height: 318px;
    width: 318px;
    border-radius: 20px;
    padding: 25px;
  }
}
.card:hover .card__img {
  transform: scale(1.2);
}
.card__img {
  position: absolute;
  inset: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 300ms ease;
}
.card::before {
  content: "";
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.card__top {
  max-width: 554px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 1000px) {
  .card__top {
    gap: 13px;
  }
}
.card__top--big {
  gap: 37px;
}
@media (max-width: 1000px) {
  .card__top--big {
    gap: 20px;
  }
}
.card__subtitle {
  text-wrap-style: stable;
}
.card__bottom {
  display: flex;
  justify-content: space-between;
}
.card__button {
  padding: 7px 20px;
  margin: -7px -20px;
  border-radius: 50px;
  display: flex;
}
.card__button::after {
  content: "";
  display: inline-block;
  background: url(src/icons/arrow.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 26px;
  margin-left: 16px;
}
.card__button::before {
  content: "";
  position: absolute;
  inset: 0;
}
.card__button:hover {
  background-color: var(--green-400);
}
.card__button:active {
  background-color: var(--orange-200);
}
.card__socials {
  display: flex;
  gap: 35px;
}
@media (max-width: 1000px) {
  .card__socials {
    display: none;
  }
}
.card__link {
  position: relative;
}
.card__link:hover {
  text-decoration: underline solid var(--white) 1px;
}
.card__link:active {
  text-decoration: underline solid var(--orange-200) 1px;
  color: var(--orange-200);
}
.card--big {
  height: 567px;
  padding: 60px;
}
@media (max-width: 1000px) {
  .card--big {
    padding: 30px;
    height: 455px;
  }
}
.card--big::before {
  content: "";
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  /* gradient bg */
  position: absolute;
  inset: 0;
  z-index: -1;
}
.card__list {
  padding-left: 30px;
  padding-top: 28px;
}
@media (max-width: 1000px) {
  .card__list {
    padding-left: 24px;
    padding-top: 23px;
  }
}
.card__list-row {
  list-style-type: disc;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 33px;
  background-color: var(--white);
  border-radius: 50px;
  padding: 70px;
}
@media (max-width: 1240px) {
  .form {
    padding: 60px;
  }
}
@media (max-width: 1000px) {
  .form {
    border-radius: 30px;
    padding: 20px 20px 40px 20px;
    gap: 30px;
  }
}
.form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 33px;
}
@media (max-width: 1240px) {
  .form__grid {
    column-gap: 20px;
  }
}
@media (max-width: 1000px) {
  .form__grid {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.form__buttons {
  display: flex;
  gap: 30px;
}
@media (max-width: 1000px) {
  .form__buttons {
    gap: 10px;
  }
}

@media (max-width: 1000px) {
  .form-bg {
    margin-top: 40px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.field__input {
  padding: 19px;
  border: 1px solid var(--beige-200);
  border-radius: 10px;
  background-color: var(--beige-100);
  cursor: pointer;
}
@media (max-width: 1000px) {
  .field__input {
    padding: 10px;
    height: 43px;
  }
}
.field__input::placeholder {
  color: var(--gray-300);
}
.field__input:hover {
  background-color: var(--beige-200);
}
.field__input:focus {
  outline: none;
  border: 1px solid var(--gray-300);
}
.field__input--select {
  appearance: none;
  background-image: url(src/icons/ic-dropdown.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position-y: center;
  background-position-x: calc(100% - 20px);
}
@media (max-width: 1000px) {
  .field__input--select {
    background-position-x: calc(100% - 10px);
    height: 46px;
  }
}
.field__input--select:has(option:checked[value=""]) {
  color: var(--gray-300);
}
.field__input--area {
  resize: none;
  height: 152px;
}
@media (max-width: 1000px) {
  .field__input--area {
    height: 132px;
  }
}
.field__input-option:not([value=""]) {
  color: var(--black);
}

.radio__list {
  display: flex;
  gap: 31px;
  margin-top: 8px;
}
.radio__item {
  display: flex;
  align-items: center;
  gap: 11px;
}
@media (max-width: 1000px) {
  .radio__item {
    gap: 10px;
  }
}
.radio__button {
  appearance: none;
  position: relative;
  cursor: pointer;
  height: 26px;
  aspect-ratio: 1;
  border: 2px solid var(--black);
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .radio__button {
    height: 20px;
  }
}
.radio__button:checked::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--black);
  border-radius: 50%;
  height: 50%;
  aspect-ratio: 1;
  margin: auto;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 19px;
  color: var(--gray-300);
}
@media (max-width: 1240px) {
  .checkbox {
    gap: 11px;
  }
}
.checkbox__button {
  appearance: none;
  cursor: pointer;
  height: 26px;
  aspect-ratio: 1;
  border: 2px solid var(--black);
  border-radius: 6px;
}
@media (max-width: 1000px) {
  .checkbox__button {
    height: 20px;
    border-radius: 3px;
    align-self: flex-start;
  }
}
.checkbox__button:checked {
  background: url(src/icons/check-mark.svg) no-repeat;
  background-position: center;
  background-size: 60%;
}
@media (max-width: 1000px) {
  .checkbox__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  }
}
.checkbox__link {
  color: var(--black);
}
.checkbox__link:hover {
  text-decoration: underline solid var(--black) 1px;
}
.checkbox__link:active {
  color: var(--green-400);
  text-decoration: underline solid var(--green-400) 1px;
}

.button {
  height: 58px;
  width: 235px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .button {
    height: 47px;
    width: 134px;
  }
}
.button--submit {
  background-color: var(--green-400);
  color: var(--white);
}
.button--submit:hover {
  background-color: var(--green-300);
}
.button--submit:active {
  background-color: var(--green-200);
}
.button--reset {
  background-color: var(--green-100);
  color: var(--green-400);
}
.button--reset:hover {
  background-color: var(--gray-100);
}
.button--reset:active {
  background-color: var(--gray-200);
}

.comments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 1240px) {
  .comments {
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .comments {
    grid-template-columns: 1fr;
    gap: 18px;
  }
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border-radius: 50px;
  background-color: var(--beige-200);
}
@media (max-width: 1000px) {
  .comment-card {
    padding: 20px;
    border-radius: 20px;
  }
}
.comment-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 70px;
}
@media (max-width: 1000px) {
  .comment-card__bottom {
    padding-top: 40px;
  }
}
.comment-card__subtitle {
  margin-top: 8px;
  color: var(--gray-300);
}
.comment-card__img {
  height: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.footer {
  background-color: var(--beige-200);
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .footer {
    height: 98px;
  }
}
.footer__content {
  width: 1168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1240px) {
  .footer__content {
    width: 918px;
  }
}
@media (max-width: 1000px) {
  .footer__content {
    flex-direction: column;
    gap: 7px;
  }
}
.footer__title {
  color: var(--gray-300);
}
.footer__social-list {
  display: flex;
  gap: 25px;
}
@media (max-width: 1000px) {
  .footer__social-list {
    gap: 15px;
  }
}
.footer__social-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 1000px) {
  .footer__social-item {
    gap: 5px;
  }
}
.footer__social-icon {
  height: 26px;
}
@media (max-width: 1000px) {
  .footer__social-icon {
    width: 22px;
  }
}
.footer__social-link {
  text-underline-offset: 4px;
}
.footer__social-link:hover {
  text-decoration: underline solid var(--black) 1px;
}
.footer__social-link:active {
  text-decoration: underline solid var(--orange-200) 1px;
  color: var(--orange-200);
}