@use 'mixins' as *;

:root {
  --black: #1B1F2B;
  --white: #FFFFFF;
  --orange-200: #EFA501;
  --orange-100: #F8E6BE;
  --green-400: #286562;
  --green-300: #3B7E7B;
  --green-200: #627F7E;
  --green-100: #E0F0E5;
  --gray-300: #A6A6A6;
  --gray-200: #D9DFDB;
  --gray-100: #F1F3F2;
  --beige-200: #F4F0E9;
  --beige-100: #F9F7F4;

  --header-section-height: 743px;
  --nav-height: 88px;
  --main-gap: 135px;
}

@font-face {
  font-family: "Roboto";
  // font-style: normal;
  // font-weight: 400;
  src: url("/fonts/roboto.woff2") format("woff2"),
}


body {
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  background-color: var(--beige-100);
}

.container {
    max-width: 1170px;
    margin-inline: auto;
    // padding: 0 20px; 
}

.wide {
  grid-column: 1/-1;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.02em;

  @include mobile() {
    font-size: 34px;
    line-height: 112%;
  }
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;

  @include mobile() {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;

  @include mobile() {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.04em;

  }
}

.p-big {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;

  @include mobile() {
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0;

  }
}

.p-normal {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  @include mobile() {
    font-size: 16px;
    letter-spacing: 0%;
  }
}

.p-small {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;

  @include mobile() {
    font-size: 16px;
  }
}
