@use 'mixins' as *;

.cta {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  @include mobile {
    flex-direction: column;
  }

  &__img {
    height: 370px;
    aspect-ratio: 1;
    border-radius: 50px;

    @include mobile {
      height: 133px;
      width: 130px;
      border-radius: 20px;
    }
  }

  &__content {
    max-width: 371px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mobile {
      text-align: center;
    }
  }

  &__subtitle {
    color: var(--gray-300);
  }

  &__action {
    // color: var(--black);
    // text-underline-offset: 5px;

    // &:hover {
    //   text-decoration: underline solid var(--black) 1px;
    // }
    
    // &:active {
    //   color: var(--green-400);
    //   text-decoration: underline solid var(--green-400) 1px;
    // }
  }
}