@use 'mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 33px;

  background-color: var(--white);
  border-radius: 50px;
  padding: 70px;

  @include tablet {
    padding: 60px;
  }

  @include mobile {
    border-radius: 30px;
    padding: 20px 20px 40px 20px;
    gap: 30px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 33px;

    @include tablet {
      column-gap: 20px;
    }

    @include mobile {
      row-gap: 30px;
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;

    @include mobile {
      gap: 10px;
    }
  }
}

.form-bg {
  @include mobile {
    margin-top: 40px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 40%;
  min-width: 310px;

  @include mobile {
    min-width: 200px;
  }

  &__input {
    padding: 19px;
    border: 1px solid var(--beige-200);
    border-radius: 10px;
    background-color: var(--beige-100);
    cursor: pointer;

    @include mobile {
      padding: 10px;
      height: 43px;
    }

    &::placeholder {
      color: var(--gray-300);
    }

    &:hover {
      background-color: var(--beige-200);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--gray-300);
    }

    &--select {
      appearance: none;

      background-image: url(icons/ic-dropdown.svg);
      background-repeat: no-repeat;
      background-size: 26px;
      background-position-y: center;
      background-position-x: calc(100% - 20px);

      @include mobile {
        background-position-x: calc(100% - 10px);
        height: 46px;
      }

      &:has(option:checked[value=""]) {
        color: var(--gray-300);
      }
    }

    &--date {
      position: absolute;
      inset: 0;
      z-index: -10;
    }

    &--area {
      resize: none;
      height: 152px;

      @include mobile {
        height: 132px;
      }
    }
  }

  &__input-option:not([value=""]) {
    color: var(--black);
  }

  &__container {
    position: relative;

    & .field__input {
      width: 100%;
    }
  }
}

.radio {
  &__list {
    display: flex;
    gap: 31px;
    margin-top: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 11px;

    @include mobile {
      gap: 10px;
    }
  }

  &__button {
    appearance: none;
    position: relative;
    cursor: pointer;

    height: 26px;
    aspect-ratio: 1;
    border: 2px solid var(--black);
    border-radius: 50%;

    @include mobile {
      height: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      border-radius: 50%;
      height: 0%;
      aspect-ratio: 1;
      background-color: var(--black);
      transition-duration: inherit;
    }

    &:checked::after {
      height: 50%;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 19px;
  color: var(--gray-300);

  @include tablet {
    gap: 11px;
  }

  &__button {
    appearance: none;
    cursor: pointer;
    position: relative;

    height: 26px;
    aspect-ratio: 1;
    border: 2px solid var(--black);
    border-radius: 6px;

    @include mobile {
      height: 20px;
      border-radius: 3px;
      align-self: flex-start;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      background-image: url(icons/check-mark.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 0%;
      aspect-ratio: 1;
      transition-duration: inherit;
    }

    &:checked::after {
      height: 60%;
    }
  }

  &__label {
    @include mobile {
      font-weight: 400;
      font-size: 16px;
      line-height: 142%;
      letter-spacing: 0;

    }
  }

  &__link {
    color: var(--black);

    &:hover {
      text-decoration: underline solid var(--black) 1px;
    }

    &:active {
      color: var(--green-400);
      text-decoration: underline solid var(--green-400) 1px;
    }
  }
}