:root {
  --black: #1B1F2B;
  --white: #FFFFFF;
  --orange-200: #EFA501;
  --orange-100: #F8E6BE;
  --green-400: #286562;
  --green-300: #3B7E7B;
  --green-200: #627F7E;
  --green-100: #E0F0E5;
  --gray-300: #A6A6A6;
  --gray-200: #D9DFDB;
  --gray-100: #F1F3F2;
  --beige-200: #F4F0E9;
  --beige-100: #F9F7F4;
  --header-section-height: 743px;
  --nav-height: 88px;
  --main-gap: 135px;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Roboto-Bold.woff2") format("woff2");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  background-color: var(--beige-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-anchor: none;
}

a,
button,
input,
textarea,
select {
  transition-duration: 300ms;
}

a,
button,
input,
textarea,
select,
label {
  cursor: pointer;
}

.container {
  max-width: 1170px;
  margin-inline: auto;
}

.wide {
  grid-column: 1/-1;
}

.mirror .card__img {
  transform: scaleX(-1);
}
.mirror:hover .card__img {
  transform: scaleX(-1.2) scaleY(1.2) !important;
}

@media (max-width: 1240px) {
  .hide--tablet {
    display: none;
  }
}
@media (max-width: 910px) {
  .hide--mobile {
    display: none;
  }
}

@media (max-width: 910px) {
  .show-mobile {
    display: inline;
  }
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(34px, 34px + 62 * (100vw - 360px) / 664, 96px);
  line-height: clamp(38px, 38px + 67 * (100vw - 360px) / 664, 105px);
  letter-spacing: 0.02em;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(34px, 34px + 25 * (100vw - 360px) / 664, 59px);
  line-height: 73px;
}
@media (max-width: 910px) {
  h2 {
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(28px, 28px + 7 * (100vw - 360px) / 664, 35px);
  line-height: 122%;
}
@media (max-width: 910px) {
  h3 {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.04em;
  }
}

.p-big {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px, 16px + 7 * (100vw - 360px) / 664, 23px);
  line-height: 28px;
  text-wrap-style: stable;
  letter-spacing: 0.001em;
}
@media (max-width: 910px) {
  .p-big {
    line-height: 23px;
  }
}

.p-normal {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 16px + 4 * (100vw - 360px) / 664, 20px);
  line-height: 28px;
}
@media (max-width: 910px) {
  .p-normal {
    line-height: 23px;
  }
}

.p-small {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 16px + 1 * (100vw - 360px) / 664, 17px);
  line-height: 24px;
  letter-spacing: -0.01em;
}
@media (max-width: 910px) {
  .p-small {
    line-height: 23px;
  }
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
  letter-spacing: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.section {
  box-sizing: content-box;
  max-width: 1170px;
  padding-inline: clamp(21px, 21px + 32 * (100vw - 360px) / 664, 53px);
  scroll-margin-top: 88px;
  margin-inline: auto;
  margin-block: clamp(75px, 75px + 60 * (100vw - 360px) / 664, 135px);
}
.section__title {
  text-align: center;
}
.section__subtitle {
  text-align: center;
  color: var(--gray-300);
  margin-top: 30px;
}
@media (max-width: 910px) {
  .section__subtitle {
    margin-top: 20px;
  }
}
.section__filter-list {
  margin-top: 35px;
}
@media (max-width: 910px) {
  .section__filter-list {
    margin-top: 30px;
  }
}
.section__content {
  margin-top: 100px;
}
@media (max-width: 910px) {
  .section__content {
    margin-top: 50px;
  }
}
.section--wide {
  max-width: 1920px;
  padding-inline: 30px;
}
@media (max-width: 1240px) {
  .section--wide {
    padding-inline: 20px;
  }
}

.header {
  color: var(--white);
}
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  height: 88px;
  max-width: 1168px;
  padding-inline: clamp(20px, 20px + 37 * (100vw - 360px) / 664, 57px);
  margin-inline: auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 910px) {
  .header__nav {
    max-width: clamp(320px, 320px + 590 * (100vw - 360px) / 664, 910px);
    display: none;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 910px) {
  .header__logo-img {
    height: 22px;
    width: 133px;
    object-fit: cover;
  }
}
.header__nav-list {
  display: flex;
  gap: 50px;
}
@media (max-width: 1240px) {
  .header__nav-list {
    gap: 30px;
  }
}
.header--fixed {
  position: fixed;
  width: 100%;
  max-width: none;
  top: -100px;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  z-index: 10;
  transition-duration: 300ms;
}
.header--fixed .header__logo {
  filter: brightness(0) saturate(100%);
}
.header--fixed .header__nav-link::after, .header--fixed .header__phone::after {
  background-color: var(--black);
}
.header--show {
  top: 0;
}

.filter-list {
  display: flex;
  column-gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 910px) {
  .filter-list {
    column-gap: 10px;
  }
}
.filter-list__button {
  padding-bottom: 6px;
}
@media (max-width: 910px) {
  .filter-list__button {
    padding-bottom: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 531px;
  border-radius: 50px;
  overflow: hidden;
  color: var(--white);
  padding: 50px;
  margin: 0 auto;
}
@media (max-width: 910px) {
  .card {
    max-width: clamp(318px, 318px + 132 * (100vw - 360px) / 664, 450px);
    min-height: clamp(318px, 318px + 132 * (100vw - 360px) / 664, 450px);
    border-radius: 20px;
    padding: 25px;
  }
}
.card:hover .card__img {
  transform: scale(1.2);
}
.card__img {
  position: absolute;
  inset: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 300ms ease;
}
.card::before {
  content: "";
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.card__top {
  max-width: 554px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 910px) {
  .card__top {
    gap: 13px;
  }
}
.card__top--big {
  gap: 37px;
}
@media (max-width: 910px) {
  .card__top--big {
    gap: 20px;
  }
}
.card__subtitle {
  text-wrap-style: stable;
}
.card__bottom {
  display: flex;
  justify-content: space-between;
}
.card__button {
  padding: 7px 20px;
  margin: -7px -20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.card__button::after {
  content: "";
  display: inline-block;
  background: url(icons/arrow.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 26px;
  margin-left: 16px;
}
.card__button::before {
  content: "";
  position: absolute;
  inset: 0;
}
.card__button:hover {
  background-color: var(--green-400);
}
.card__button:active {
  background-color: var(--orange-200);
}
.card__socials {
  display: flex;
  gap: 35px;
}
@media (max-width: 910px) {
  .card__socials {
    display: none;
  }
}
.card--big {
  min-height: 567px;
  max-height: none;
  max-width: 1170px;
  padding: 60px;
}
@media (max-width: 910px) {
  .card--big {
    padding: 30px;
    min-height: 455px;
  }
}
.card--big::before {
  content: "";
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.card__list {
  padding-left: 30px;
  padding-top: 28px;
}
@media (max-width: 910px) {
  .card__list {
    padding-left: 24px;
    padding-top: 23px;
  }
}
.card__list-row {
  list-style-type: disc;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 33px;
  background-color: var(--white);
  border-radius: 50px;
  padding: 70px;
}
@media (max-width: 1240px) {
  .form {
    padding: 60px;
  }
}
@media (max-width: 910px) {
  .form {
    border-radius: 30px;
    padding: 20px 20px 40px 20px;
    gap: 30px;
  }
}
.form__grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 33px;
}
@media (max-width: 1240px) {
  .form__grid {
    column-gap: 20px;
  }
}
@media (max-width: 910px) {
  .form__grid {
    row-gap: 30px;
  }
}
.form__buttons {
  display: flex;
  gap: 30px;
}
@media (max-width: 910px) {
  .form__buttons {
    gap: 10px;
  }
}

@media (max-width: 910px) {
  .form-bg {
    margin-top: 40px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 40%;
  min-width: 310px;
}
@media (max-width: 910px) {
  .field {
    min-width: 200px;
  }
}
.field__input {
  padding: 19px;
  border: 1px solid var(--beige-200);
  border-radius: 10px;
  background-color: var(--beige-100);
  cursor: pointer;
}
@media (max-width: 910px) {
  .field__input {
    padding: 10px;
    height: 43px;
  }
}
.field__input::placeholder {
  color: var(--gray-300);
}
.field__input:hover {
  background-color: var(--beige-200);
}
.field__input:focus {
  outline: none;
  border: 1px solid var(--gray-300);
}
.field__input--select {
  appearance: none;
  background-image: url(icons/ic-dropdown.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position-y: center;
  background-position-x: calc(100% - 20px);
}
@media (max-width: 910px) {
  .field__input--select {
    background-position-x: calc(100% - 10px);
    height: 46px;
  }
}
.field__input--select:has(option:checked[value=""]) {
  color: var(--gray-300);
}
.field__input--date {
  position: absolute;
  inset: 0;
  z-index: -10;
}
.field__input--area {
  resize: none;
  height: 152px;
}
@media (max-width: 910px) {
  .field__input--area {
    height: 132px;
  }
}
.field__input-option:not([value=""]) {
  color: var(--black);
}
.field__container {
  position: relative;
}
.field__container .field__input {
  width: 100%;
}

.radio__list {
  display: flex;
  gap: 31px;
  margin-top: 8px;
}
.radio__item {
  display: flex;
  align-items: center;
  gap: 11px;
}
@media (max-width: 910px) {
  .radio__item {
    gap: 10px;
  }
}
.radio__button {
  appearance: none;
  position: relative;
  cursor: pointer;
  height: 26px;
  aspect-ratio: 1;
  border: 2px solid var(--black);
  border-radius: 50%;
}
@media (max-width: 910px) {
  .radio__button {
    height: 20px;
  }
}
.radio__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  height: 0%;
  aspect-ratio: 1;
  background-color: var(--black);
  transition-duration: inherit;
}
.radio__button:checked::after {
  height: 50%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 19px;
  color: var(--gray-300);
}
@media (max-width: 1240px) {
  .checkbox {
    gap: 11px;
  }
}
.checkbox__button {
  appearance: none;
  cursor: pointer;
  position: relative;
  height: 26px;
  aspect-ratio: 1;
  border: 2px solid var(--black);
  border-radius: 6px;
}
@media (max-width: 910px) {
  .checkbox__button {
    height: 20px;
    border-radius: 3px;
    align-self: flex-start;
  }
}
.checkbox__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: url(icons/check-mark.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 0%;
  aspect-ratio: 1;
  transition-duration: inherit;
}
.checkbox__button:checked::after {
  height: 60%;
}
@media (max-width: 910px) {
  .checkbox__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0;
  }
}
.checkbox__link {
  color: var(--black);
}
.checkbox__link:hover {
  text-decoration: underline solid var(--black) 1px;
}
.checkbox__link:active {
  color: var(--green-400);
  text-decoration: underline solid var(--green-400) 1px;
}

.button {
  height: 58px;
  width: 235px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 910px) {
  .button {
    height: 47px;
    width: 134px;
  }
}
.button--submit {
  background-color: var(--green-400);
  color: var(--white);
}
.button--submit:hover {
  background-color: var(--green-300);
}
.button--submit:active {
  background-color: var(--green-200);
}
.button--reset {
  background-color: var(--green-100);
  color: var(--green-400);
}
.button--reset:hover {
  background-color: var(--gray-100);
}
.button--reset:active {
  background-color: var(--gray-200);
}

.link {
  position: relative;
  display: block;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  background-color: var(--white);
  width: 0;
  height: 2px;
  transition-duration: inherit;
}
.link:hover::after {
  width: 100%;
}
.link__icon {
  width: 26px;
  height: 26px;
  object-fit: none;
}
@media (max-width: 910px) {
  .link__icon--vk {
    width: 20px;
  }
}
@media (max-width: 910px) {
  .link__icon--tg {
    width: 22px;
  }
}
.link--phone:active {
  color: var(--green-400);
}
.link--phone:active::after {
  background-color: var(--green-400);
}
.link--email {
  display: inline-block;
  color: var(--black);
}
.link--email:hover::after {
  background-color: var(--black);
}
.link--email:active {
  color: var(--green-400);
}
.link--email:active::after {
  background-color: var(--green-400);
}
.link--filter::after {
  height: 2px;
}
.link--filter:hover::after {
  background-color: var(--black);
}
.link--filter.link--selected {
  color: var(--orange-200);
}
.link--filter.link--selected::after {
  width: 100%;
  background-color: var(--orange-200);
}
.link--filter.link--selected:hover::after {
  background-color: var(--orange-200);
}
.link--social:active {
  color: var(--orange-200);
}
.link--social:active::after {
  background-color: var(--orange-200);
}
.link--footer {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 910px) {
  .link--footer {
    gap: 5px;
  }
}
.link--footer::after {
  display: none;
}
.link--footer .link__text {
  transition-duration: inherit;
  position: relative;
}
.link--footer .link__text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  background-color: var(--black);
  width: 0;
  height: 2px;
  transition-duration: inherit;
}
.link--footer:hover .link__text::after {
  width: 100%;
}
.link--footer:active {
  color: var(--orange-200);
}
.link--footer:active .link__text::after {
  background-color: var(--orange-200);
}
.link--footer:active .link__icon {
  transition-duration: inherit;
  filter: brightness(0) saturate(100%) invert(67%) sepia(77%) saturate(2796%) hue-rotate(8deg) brightness(101%) contrast(104%);
}

.comments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 1240px) {
  .comments {
    gap: 20px;
  }
}
@media (max-width: 910px) {
  .comments {
    grid-template-columns: 1fr;
    gap: 18px;
  }
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border-radius: 50px;
  background-color: var(--beige-200);
}
@media (max-width: 910px) {
  .comment-card {
    padding: 20px;
    border-radius: 20px;
  }
}
.comment-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 70px;
}
@media (max-width: 910px) {
  .comment-card__bottom {
    padding-top: 40px;
  }
}
.comment-card__subtitle {
  margin-top: 8px;
  color: var(--gray-300);
}
.comment-card__img {
  height: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.footer {
  background-color: var(--beige-200);
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 910px) {
  .footer {
    height: 98px;
  }
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 1168px;
  padding-inline: clamp(21px, 21px + 32 * (100vw - 360px) / 664, 53px);
  margin-inline: auto;
}
@media (max-width: 910px) {
  .footer__content {
    flex-direction: column;
    gap: 7px;
  }
}
.footer__title {
  color: var(--gray-300);
}
.footer__social-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 910px) {
  .footer__social-list {
    gap: 15px;
  }
}
.footer__social-item {
  display: flex;
  align-items: center;
}
.footer__social-icon {
  height: 26px;
}
.footer__social-link {
  display: flex;
  gap: 10px;
  align-items: center;
  text-underline-offset: 4px;
}
@media (max-width: 910px) {
  .footer__social-link {
    gap: 5px;
  }
}
.footer__social-link:active {
  text-decoration: underline solid var(--orange-200) 1px;
  color: var(--orange-200);
}

.cta {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 910px) {
  .cta {
    flex-direction: column;
  }
}
.cta__img {
  height: 370px;
  aspect-ratio: 1;
  border-radius: 50px;
}
@media (max-width: 910px) {
  .cta__img {
    height: 133px;
    width: 130px;
    border-radius: 20px;
  }
}
.cta__content {
  max-width: 371px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 910px) {
  .cta__content {
    text-align: center;
  }
}
.cta__subtitle {
  color: var(--gray-300);
}

.story__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 100%;
}
@media (max-width: 910px) {
  .story__list {
    row-gap: 20px;
  }
}

.photo-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 910px) {
  .photo-grid {
    gap: 18px;
  }
}
.photo-grid__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  align-items: center;
}
@media (max-width: 1240px) {
  .photo-grid__row {
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 910px) {
  .photo-grid__row {
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 910px) {
  .photo-grid__row--18 {
    column-gap: 18px;
  }
}
.photo-grid__row--center {
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1240px) {
  .photo-grid__row--center {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 910px) {
  .photo-grid__row--center {
    grid-template-columns: repeat(3, 1fr);
  }
}
.photo-grid__img {
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  height: 301px;
  width: 100%;
}
@media (max-width: 910px) {
  .photo-grid__img {
    border-radius: 20px;
    max-height: clamp(110px, 110px + 191 * (100vw - 360px) / 664, 301px);
  }
}

.tour-grid {
  display: flex;
  justify-content: center;
}
@media (max-width: 910px) {
  .tour-grid {
    margin-top: 50px;
  }
}
.tour-grid__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 1240px) {
  .tour-grid__list {
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }
}
@media (max-width: 910px) {
  .tour-grid__list {
    grid-template-columns: 1fr;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  text-align: center;
  min-height: 742px;
  height: 100vh;
  margin-top: -88px;
  padding-top: 88px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), url(images/header-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
@media (max-width: 910px) {
  .hero {
    gap: 40px;
  }
}
.hero__subtitle {
  max-width: 562px;
}
@media (max-width: 1240px) {
  .hero__subtitle {
    max-width: 400px;
  }
}
@media (max-width: 910px) {
  .hero__subtitle {
    max-width: 310px;
  }
}
.hero__button {
  padding: 5px 20px;
  background-color: var(--white);
  border-radius: 10px;
  color: var(--black);
}
.hero__button:hover {
  background-color: var(--orange-200);
  color: var(--white);
}
.hero__button:active {
  background-color: var(--orange-100);
  color: var(--black);
}